<html>
<head>
  <title>ＥＲＲＯＲ！</title>
  <meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">
</head>
<body bgcolor="#FFFFFF"><!-- 2ch_X:error -->
  <font size="+1" color="#FF0000">
    <b>ＥＲＲＯＲ：{{ message|e }}</b>
  </font>
</body>
</html>
